
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <h1>Training details</h1>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <button (click) = "addDay()" type="button" class="btn btn-outline-default">+ Add Day</button>
    <button *ngIf = "data.length" (click) = "addTopic()" type="button" class="btn btn-outline-default">+ Add Topic</button>

    <div class="container">
        <div class="row">
            <div class="col-md-6 bg-success min-vh-100" id="left">
                {{desc}}
                <br><br><br>
                <button (click) = "editDesc()" type="button" class="btn btn-dark">Edit</button>
            </div>
            <div class="col-md-6 d-flex flex-column">
                <div class="row flex-grow-1">
                    <div class="col-md-12 bg-primary min-vh-100 min-vh-md-50" id="righttop">
                        <div class="list-group" >
                            <a class="list-group-item" *ngFor = "let day of data;let indexOfelement=index;" (click) = "selectDay(indexOfelement)">Day {{indexOfelement + 1}}</a>
                        </div>
                    </div>
                    <br><br>
                    <div class="col-md-12 bg-warning min-vh-100 min-vh-md-50" id="rightbottom">
                        <a class="list-group-item" *ngFor = "let topic of currentDay;let indexOfelement=index;" (click) = "selectTopic(indexOfelement)">{{topic.name}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </body>
</html>


















